body {
  background-color: #fafafa;
}

svg {
  border: 1px solid #ddd;
  margin: 80px auto 0 auto;
  display: block;
}

#sliders {
  padding: 10px 400px 0px 400px;
  display: block;
}

.hover {
  cursor: pointer;
}

#ItemsInList   {
  padding: 5px 200px 5px 200px;
  display: block;
}

.button-james-and-nathan-are-making-my-life-harder{
  margin-top: 5px !important;
  background-color: #B71C1C;
}

.button-james-and-nathan-are-making-my-life-harder:hover{
  background-color: #a50425;
}

.button-james-and-nathan-are-making-my-life-harder:focus{
  background-color: #a50425;
}

.button-james-and-nathan-are-making-my-life-harder:active{
  background-color: #a50425;
}

.button-james-and-nathan-are-making-my-life-harder:selection{
  background-color: #a50425;
}

nav.navbar.navbar-danger {
  background-color: #C62828;
}

.navbar-brand {
  font-size: 30px;
  font-weight: 800;
}

#objectList {
  width: 33%;
}

body svg text {
  //font-size: 4px !important;
}
